:root {
    --black: #161616;
    --white: #f8f8f8;
    --red: #EC161F;
    --yellow: #efdb3f;
}
.App {
    background-image: url('./chuck-norris-background-1920px.png');
    width: 100vw;
    height: 100vh;
}
button {
    background: var(--yellow)
}