@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@700&display=swap');
    
:root {
    box-sizing: border-box;
    --black: #161616;
    --white: #f8f8f8;
    --red: #EC161F;
    --yellow: #efdb3f;
    --blackTransparent: #16161690;

}
.App {
    background-image: url('./chuck-norris-background-1920px.png');
    width: 100vw;
    height: 100vh;
}
.nav-bar {
    text-align: center;
}
.jokes {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

h1 {
    font-family: 'Stardos Stencil', sans-serif;
    text-transform: uppercase;
    color: var(--white);
    font-size: 77px;
    text-shadow: 5px 5px 0 var(--black);
    line-height: 1em;
}
.generator-header {
    text-align: center;
}
button {
    background: var(--yellow);
    font-family: prompt, sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    margin: 20px;
    box-shadow: 0 0 10px var(--black);
    padding: 0 15px;
}
.category-container, .rate-container {
    background-color: var(--blackTransparent);
    padding: 20px 0 20px 30px;
    text-align: center;
    display: inline;
}
.categories {
    display: inline;
    font-family: 'Stardos Stencil', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: 2px 2px 0 var(--black);
}
select {
    padding: 0 10px;
    margin-left: 20px;
    font-size: 22px;
    font-family: prompt, sans-serif;
    text-transform:  uppercase;
    background: var(--white);
    box-shadow: 0 0 10px var(--black);
    text-align: center;
}
.header-container {
    text-align: center;
}
#random {
    margin-top: 0px;
}
#quote {
    text-align: center;
    color: var(--white);
    font-family: prompt;
    font-size: 44px;
    text-shadow: 3px 3px 0 var(--black);
    margin: 0 20px;
}

footer {
   position: fixed;
   bottom: 0px;
   
}

.rate-container, form, .rate-save, .clear-all-container {
    display: inline;
    padding: 20px;
}
.rate-save {
    font-family: 'Stardos Stencil', sans-serif;
    text-transform: uppercase;
    color: var(--white);
    font-size: 22px;
    text-shadow: 2px 2px 0 var(--black);
    padding: 20px 0 20px 20px;
}
.favourites-header {
    text-align: left;
    margin-left: 40px;
    font-size: 55px;
}
.favourites-sub-header {
    text-align: left;
    margin-left: 40px;
    font-family: prompt;
    color: var(--white);
    text-transform: uppercase;
    text-shadow: 3px 3px 0 var(--black);
}
.quote-item-container {
    text-align: center;
    color: var(--white);
    font-family: prompt;
    font-size: 22px;
    margin: 10px 20px;
    border: 2px solid white;
    text-align: left;
    background-color: var(--blackTransparent);
    display: grid;
    grid-template-columns: 1fr 250px;
    box-shadow: 0 0 5px var(--yellow);
}
.quote-item-container-flagged {
    text-align: center;
    color: var(--white);
    font-family: prompt;
    font-size: 22px;
    margin: 10px 20px;
    border: 2px solid white;
    text-align: left;
    background-color: var(--yellow);
    display: grid;
    grid-template-columns: 1fr 250px;
    box-shadow: 0 0 5px var(--yellow);
}

.emoji{
    display: inline;
    padding: 5px 10px;
    margin: 0 10px;
    background-color: var(--red);
    border-radius: 200px;
    line-height: 3em;
    border: 2px solid var(--black);
    text-shadow: 2px 2px 0 var(--black);
}
.emoji:hover {
    background-color: var(--yellow);
    box-shadow: 0 0 10px var(--white);
    cursor: pointer;
}
.emoji-flag {
    width: 35px;
    margin: 20px;
    height: 35px;
    background-color: var(--yellow);
    text-align: center;
    border-radius: 200px;
    border: 2px solid var(--black);
    text-shadow: 1px 1px 0 var(--white);
}
.emoji-container {
    text-align: center;
}
.remove {
    background-color: var(--yellow);
    border-radius: 200px;
    padding: 3px 10px;
    font-family: 'Stardos Stencil', sans-serif;
    color: var(--black);
    font-size: 33px;
    border: 2px solid var(--black);
    margin: 10px 10px 10px 185px;
    max-height: 55px;
    text-shadow: 1px 1px 0 var(--white);
}

.remove:hover, .emoji-flag:hover {
    background-color: var(--red);
    color: var(--white);
    box-shadow: 0 0 10px var(--white);
    cursor: pointer;
}

.quote-item, .rating {
    margin-left: 30px;
    text-shadow: 2px 2px 0 var(--black)
}
.remove:hover, .emoji-flag:hover, .emoji:hover {
    transform: scale(1.1);
}

